<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
    <strong>Welcome to BaBel</strong>
</p>
<p>
    A Thesis for a New Standard in Educational Networking
</p>
<p>
    Connor P. Cayson and Andrew T. Hyde
</p>
<p>
    To modernize an outdated and obsolete education system, a new standard of networking for educators, students, and academic institutions is required to make
    the educational process easier and more streamlined with better access to information, free updated EBooks, a video platform to connect students, teachers and universitiees around the globe,  personalized user profiles, and a hip user-friendly interface. BaBel
    aims to be that new standard as a digital lounge where educators can exchange ideas, students can easily access information, and academic institutions can
    market to developing professionals and scholars. BaBel will allow educators to exchange methods of teaching in all disciplines and grade levels, students
    to easily access open-sourced knowledge and grow in their academic careers, and universities to provide a higher standard of education from the admissions
    process all the way through career development and graduation.
</p>
<div>
    <br/>
</div>