<div class="center hero-unit">
  <h1>Welcome to the BaBel</h1>

  <h2>
   A lounge for bringing education to a more "interconnected" level.
    
  </h2>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>